/* CSS declarations go here */


body{
    font-family: 'Raleway', sans-serif!important;
    background: url("/img/features/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*padding-top: 70px;*/
}

.raleway-ultra{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;

}

.navbar{
  border-bottom: solid 1px #e8e4e4!important;
  min-height: 50px;
  margin-bottom: 20px!important;
  border: 1px solid transparent!important;
  /*background-color: rgba(251, 246, 246, 0.5);*/
  background: url("/img/features/navbar_bg.png") no-repeat center center fixed!important;
  font-family: 'Raleway', sans-serif!important;

  font-weight: 100!important;
  font-size: 14px;
  color: #484242!important;
  letter-spacing: 1px!important;
  text-transform: uppercase!important;

}

.navbar .user-dropdown{
  top: 34px!important;
}


.shadow-effect{
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    -webkit-transition:0.3s;transition:0.3s;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.shadow-effect:hover{
    box-shadow:0 22px 43px rgba(158, 150, 197, 0.51);
    -webkit-box-shadow:0 22px 43px rgba(158, 150, 197, 0.51);
    /*color:#1DB58E;#504879*/
    -webkit-transform:translateY(-4px);
    transform:translateY(-4px);
    -moz-transform:none
}


.search-options-box {
    width: inherit;
    background: transparent;
    width: 175px;
    /*background: #FFFFFF;*/
    /*border: 1px solid #F6F6F6;*/
    /*box-shadow: 0px 2px 3px 0px rgba(38,20,25,0.50);*/
    margin-top: 4px;
    padding-top: 5px;
    padding-left: 8px;
    font-size: 12px;
    font-weight: 100;
}


.search-options-box .form-check-label:hover{
    color: #0a6aa1;
}

.search-options-box .form-check-input{

}

.search-options-box .form-check-input:checked{

}

.action-items{
    font-size: 8px;
    font-weight: 100;

}

.action-items a:hover{
    text-decoration: none;
}

.action-items img{
    width: 40px;
    height: 40px;
}

.action-items a > span{
    display: block;
    cursor: pointer;
}

.action-items div > span{
    display: inline-block;
    text-align: center;
    width: 49%;
    padding: 7px;
}
